{% extends 'navbar.html.twig' %}

 {% block stylesheets %}
 {{parent()}}

<link href="{{asset('/css/theme.css') }}" rel="stylesheet" media="all">
 {% endblock %}

{% block nav %}
{{ parent() }}
<br/>
<br/>
 <h1>Materiel</h1>

    <ul>
    {% for materiel in lemateriel %}
    <br/>
        <li>{{ materiel.nom | upper }}</li>
        <li>{{ materiel.prix}}</li>
        <li>{{ materiel.entreprise}}</li>
        <li>{{ materiel.livraisonGratuite }}</li>
        <hr/>
    {% endfor %}
</ul>
<br/>



{% endblock %}